html {
    background-color: bisque;
}

h1 {
    text-align: center;
    color: darkolivegreen;
}

h3, h2 {
    color: darkolivegreen;
}

div {

    text-align: center;
    width: 100%;
    height: 50%;
    
}